<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Business Overview</span>
                <span class="close"><i class="fas fa-sync-alt" (click)="loadBusinessOverview('')"></i></span>
            </div>
            <div class="card-body">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" [ngClass]="{'active': overviewInterval == 'daily'}" (click)="loadBusinessOverview('daily')">Daily</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [ngClass]="{'active': overviewInterval == 'weekly'}" (click)="loadBusinessOverview('weekly')">Weekly</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [ngClass]="{'active': overviewInterval == 'monthly'}" (click)="loadBusinessOverview('monthly')">Monthly</a>
                    </li>
                </ul>
                <div class="summary" *ngIf="businessOverview">
                    <p><label class="text-success">{{businessOverview.leadsNew}}</label> New Leads</p>
                    <p><label class="text-success">{{businessOverview.leadsClosed}}</label> Leads Closed</p>
                    <p><label class="text-danger">{{businessOverview.leadsFollowUpOverdue}}</label> Leads Follow-up Overdue
                    </p>
                    <p><label class="text-danger">{{businessOverview.leadsMeetingOverdue}}</label> Leads Meeting Overdue
                    </p>
                    <p><label class="text-danger">{{businessOverview.leadsPhoneOverdue}}</label> Leads Phone Call Overdue
                    </p>
                    <p><label class="text-danger">{{businessOverview.leadsEmailOverdue}}</label> Leads Email Overdue</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Team Task Summary</span>
                <span class="close"><i class="fas fa-sync-alt" (click)="loadTeamTaskSummary('')"></i></span>
            </div>
            <div class="card-body">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" [ngClass]="{'active': summaryInterval == 'today'}" (click)="loadTeamTaskSummary('today')">Today</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [ngClass]="{'active': summaryInterval == 'week'}" (click)="loadTeamTaskSummary('week')">This Week</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [ngClass]="{'active': summaryInterval == 'month'}" (click)="loadTeamTaskSummary('month')">Monthly</a>
                    </li>
                </ul>
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="font-size-bigger">User</th>
                            <th scope="col" class="font-size-bigger">Follow-Up</th>
                            <th scope="col" class="font-size-bigger">Phone Call</th>
                            <th scope="col" class="font-size-bigger">Meeting</th>
                            <th scope="col" class="font-size-bigger">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ts of teamTaskSummaryList">
                            <td>{{ts.user}}</td>
                            <td>{{ts.followUp.pending}} | {{ts.followUp.total}}</td>
                            <td>{{ts.phoneCall.pending}} | {{ts.phoneCall.total}}</td>
                            <td>{{ts.meeting.pending}} | {{ts.meeting.total}}</td>
                            <td>{{ts.email.pending}} | {{ts.email.total}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="teamTaskSummaryList && teamTaskSummaryList.length==0">
                        <tr>
                            <td colspan="5" align="left">No records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>